@font-face {
    font-family: 'Roboto Condensed';
    src: url(3959.ttf);
}


html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}
body {
   font-family: 'Roboto Condensed', sans-serif;
}
*,:after,:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 26px
}

h3 {
    font-size: 16px
}

h4 {
    font-size: 15px;
    line-height: 19px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

.top_menu {height: 106px;}
table.menu_table {height: 46px; width: 1200px; margin: auto;}
a.menu-link {color: white;  padding: 5px; text-decoration: none; font-size: 95%;}
a.underline {text-decoration: underline;}
a.menu_table:hover {display: none;}
a.title-size {font-size: 200%; font-family: times-new-roman;}
.sub_menu_table {height: 60px}
a.hoverb:hover {font-weight: 900;}
.main-container {padding-bottom: 40px;width: 100%; height: 664px;}
.container {width: 1200px; height: 725px; margin-right: auto; margin-left: auto}
.fluid {width: 100%}
.inform-container {width: 382px; margin-left: 27px; float: left; height: 624px;}
.galery-container {width: 791px; height: 624px; float: left;}
.product-name {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 20px; 
}
.product-name h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 11px;
    display: inline-block
}
.product-name h1, .product-name h2 {
    color: #525252;
    font-size: 16px;
    text-align: center;
    line-height: 20px!important;
    margin-top: 0;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
}
.product-name h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
}
.breadcrumbs {
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
}

.breadcrumbs ul {
  margin: 0;
  text-align: center;
  padding: 15px 0px;
}

.breadcrumbs ul li {
  float: none;
  display: inline-block;
  color: #b1b1b1;
  font-size: 11px;
}

.breadcrumbs ul li a {
  color: #b1b1b1;
  font-size: 11px;
  text-decoration: none;
  font-weight: 400;
}
.breadcrumbs ul li span {
  color: #b1b1b1;
  font-size: 11px;
  text-decoration: none;
  font-weight: 400;
}
.breadcrumbs ul li a:hover {
  color: #f02525;
}

.breadcrumbs ul li a,.breadcrumbs ul li span {
  text-transform: capitalize;
  padding: 5px;
}

.breadcrumbs ul li .last {
  color: #999;
}

ul.size-bottom {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.size-bottom li {
    margin-bottom: 8px;
    display: inline-block;
    float: none;
    height: 32px;
    width: 48px;
}

.down-line {
    width: 100%; 
    height: 461px;         
}
.logo{
    height: 100%;
    width: 1200px;
    margin: auto;
    text-align: center;
    font-size: 200%;
    color: white;
    font-family: times-new-roman;

}
.decor-line {
    background-color: #333;
    height: 43px;
    width: 100%;
}
button.size-button {
  font-size: 12px;
  height: 32px;
  width: 48px;
  padding: 1px 6px;
  border: 0px;
  background-color: white;
}
button.size-button:hover {
  height: 32px;
  width: 46px;             
  border: 1px solid #f4f4f4;
  cursor: pointer;
}
button.shop-button {
  width: 100%;
  height: 45px;
  padding: 12px;
  border: 0px;
  background-color: black;
  cursor: pointer;
}
button.shop-button:hover {
  background-color: red;
}
button.shop-button span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.index-info {
  width: 100%;
  height: 19px;
}
.index-info ul {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.index-info ul li, span {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  color: #525252;
}
.image-view {
  position: relative;
  width: 100%;
  height: 567px; 
}
.image-row {
  width: 100%;
  height: 57px;
}
.image-row ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 52px;
  text-align: center;
  display: inline-block;
}
.image-row ul li {
  height: 52px;
  margin-right: 10px;
  width: 80px;
  display: inline-block;
  text-align: center;
}
.image-row ul li img {
  height: 52px;
  width: 80px;
}
.image-view img {
  height: 100%;
  width: 100%;
}
.image-view span {
  position: absolute;
  height: 30px;
  width: 30px;
  display: none;
}          
span.left-arrow {
  left: 0px;
  background-position: -140px -773px;
  text-align: center;
  top: 50%;
  cursor: pointer;
}
span.right-arrow {
  right: 0px;
  background-position: -188px -773px;
  text-align: center;
  top: 50%;
  cursor: pointer;
}

.image-view:hover span {
  display: block; 
}
.image-icon {
  opacity: 1;
  cursor: pointer;
}
.image-icon:hover {
  opacity: 0.3;
}
.social-nets {
  margin-top: 18px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}
.bttn-block {
  padding: 10px 12px;
  height: 40px;
  width: 100%;
  text-align: center;
  position: relative;
} 
.bttn-block a {
  height: 20px;
  width: 20px;
  margin: 0px 10px;
  font-weight: 900;
}
.bttn-block a:hover {
  opacity: 0.3;
}
a.vk-repost {
  position: relative;
  text-decoration: none;
  color: #525252;     
  top: -3px;
  font-size: 18px;
}
.menu-d {
  background-color: #333;
  height: 46px;
  position: relative;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.fixed-x { 
  transition: 0.1s ease;
}    
#product-img {
  z-index: 0;
}
