<html>
    <head>
	<meta charset="utf-8">
	<title>v&#339;u cult. | {{product.name}}</title>
	<link rel="stylesheet" href="/static/product/general.css" type="text/css">
        <script type="text/javascript" src="https://vk.com/js/api/share.js?94" charset="windows-1251"></script>
	
    </head>
    <body style="margin: 0px">                                                                                
	<div style="width: 100%; height: 100%; margin: 0 auto;">
	    <div class="top_menu";>
		<div class="sub_menu_table"> 
		</div>
	        <div style="background-color: #333; height: 46px;">                                                  
		    <table class="menu_table">     
			<tbody>
			    <tr>
				<td style="width:20%"><a href="http://127.0.0.1:8000/" class="menu-link title-size" data-title="Voeu_Cult">v&#339;u cult.</a></td>
				<td style="width:7%"><a href="vk.com" class="menu-link hoverb" data-title="New">новинки</a></td>
			        <td style="width:7%"><a href="vk.com" class="menu-link hoverb" data-title="Brand">бренды</a></td>
				<td style="width:6%"><a href="vk.com" class="menu-link hoverb" data-title="Shoes">обувь</a></td>
				<td style="width:7%"><a href="vk.com" class="menu-link hoverb" data-title="Man">мужское</a></td>
				<td style="width:43%"><a href="vk.com" class="menu-link hoverb" data-title="Woman">женское</a></td>
                                <td style="width:5%"><a href="vk.com" class="menu-link underline hoverb" data-title="Liked">Избранное</a></td>
				<td style="width:5%"><a href="vk.com" class="menu-link underline hoverb" data-title="Stash" >Корзина</a></td>
			    </tr>
			</tbody>
		    </table>
		</div>
	    </div>
	    <div class="container">
	        <div class="breadcrumbs">
		    <ul>
			<li><a href= "http://127.0.0.1:8000/">V&#339;u Cult.</a><span>/ </span></li>
			<li><a href= "http://127.0.0.1:8000/{{product.manufacturer}}">{{product.manufacturer}}</a><span>/ </span></li>
			<li>{{product.name}}</li>
		    </ul>
		</div>
		<div class="main-container fluid">
	            <div class="galery-container">
		        <div class="image-view">
			    <span class="left-arrow" onClick ="javascript: left_arrow()"><img src="/static/media/left.png"></span>
			    <img src="/static/{{product.image_set.first.image}}" id="product-img">         
			    <span class="right-arrow" onClick ="javascript: right_arrow()"><img src="/static/media/right.png"></span> 
			</div>
			<div class="image-row">
			    <ul>                    
			        {% for image in product.image_set.all %}
				    <li>                                          
			    	        <img class="image-icon" src="/static/{{image.image}}" id="{{forloop.counter0}}" onClick="javascript: clickimage({{forloop.counter0}})">
				    </li>       
				{% endfor %}
			    </ul>
			</div>
			<script type="text/javascript">
			    var mas = [
				{% for image in product.image_set.all %}
				   "/static/{{image.image}}", 
				{% endfor %}
			    ]
			    var to = 0;
			    function right_arrow() {
			        var object = document.getElementById("product-img");
				if (to < mas.length - 1) 
				    to++;
				else
				    to = 0;
				object.src = mas[to];
				var obj = document.getElementById(to);
				obj.opacity = 1.3;
			    }
			    function left_arrow() {
			        var object = document.getElementById("product-img");
				if (to > 0) 
				    to--;
				else
				    to = mas.length - 1;
				object.src = mas[to];
				var obj = document.getElementById(to);
				obj.opacity = 0.3;

			    }
			    function clear_icons() {
			        for (var i = 0; i < mas.length; i++) {
			            var obj = document.getElementById(String(i));
				    obj.opacity = 1;    
				}
			    }
			    function clickimage(number) {
			        clear_icons();
				var object = document.getElementById(String(number));
				var obj = document.getElementById("product-img");
				object.opacity = 0.3;
				obj.src = mas[number];
				to = number;
			    } 
			</script>
		    </div>
		    <div class="inform-container">
		    	<div class="product-name">
			    <h2>{{ product.manufacturer }}</h2>
			    <h1>{{ product.name }}</h1>
			    <h2>${{ product.cost }}</h2>
			</div>
			<form> 
			    <ul class="size-bottom">
	                	{% for size in product.size_set.all %}
				    <li><button class="size-button">{{ size.size }}</button></li>
				{% endfor %}
			    </ul>
			</form>
			<form>
			    <button class="shop-button">
				<span>В корзину</span>
			    </button>
			</form>
			<div class="index-info">
			    <ul>
				<li>{{product.index}}</li>
				<span>|</span>
				<li>{{product.colors}}</li>
                                <span>|</span>
				<li>{{product.year}}</li>
			    <ul>
			</div>
			<div class="social-nets">
			    <div class="bttn-block">
			        <a target="_blank" href="http://twitter.com/home?status=http://127.0.0.1:8000/product/{{product.id}}/"><img src="/static/media/tweet.png"></a>
				<a target="_blank" href="http://www.facebook.com/sharer.php?u=http://127.0.0.1:8000/product/{{product.id}}/"><img src="/static/media/facebook.png"></a>        
			        <a class="vk-repost" href="https://vk.com/share.php?url=http://127.0.0.1:8000/product/{{product.id}}/" target="_blank">В</a>
			    </div>			    
			</div>
		    </div> 
		</div>    
	    </div>
	    <div class="down-line">
		<div class="decor-line">
		    <div class="logo">
		        v&#339;u cult.    
		    </div>
	        </div>
	    </div>
	</div>
    </body>
</html>