<html>
    <head>
	<title>Voeu Cult.</title>
	<link rel="stylesheet" href="general.css" type="text/css">                                 

    </head>
    <body style="margin: 0px">                                                                                
	<div style="min-width:960px; max-width:1960px; margin: 0 auto;">
	    <div class="top_menu";>
		<div class="sub_menu_table"> 
		</div>
	        <div style="background-color: #333;">                                                  
		    <table class="menu_table">     
			<tbody>
			    <tr>
				<td style="width:20%"><a href="http://127.0.0.1:8000/" class="menu-link title-size" data-title="Voeu_Cult">Voeu Cult.</a></td>
				<td style="width:10%"><a href="vk.com" class="menu-link" data-title="New">NEWS</a></td>
			        <td style="width:10%"><a href="vk.com" class="menu-link" data-title="Brand">BRAND</a></td>
				<td style="width:10%"><a href="vk.com" class="menu-link" data-title="Shoes">SHOES</a></td>
				<td style="width:10%"><a href="vk.com" class="menu-link" data-title="Man">MAN</a></td>
				<td style="width:25%"><a href="vk.com" class="menu-link" data-title="Woman">FEMALE</a></td>
                                <td style="width:5%"><a href="vk.com" class="menu-link underline" data-title="Liked">LIKED</a></td>
				<td style="width:10%"><a href="vk.com" class="menu-link underline" data-title="Stash" >CART</a></td>
			    </tr>
			</tbody>
		    </table>
		</div>
	    </div>
	</div>
    </body>
</html>